body {
    font-family: sans-serif;
    background: #ddd;
    text-align: center;
}
#posts {
    width: 100%;
    display: grid;
    row-gap: 10px;
    overflow: hidden;
}
.post-body {
    cursor: pointer;
    border: 0.5px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 25px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 260px auto;
    height: 200px;
}
.post-info p:first-child {
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}
.post-info p {
    text-align: left;
    font-size: 22px;
}